.label {
  border-radius: 28px;
  padding: 4px 14px;
  width: 109px;
  height: 28px;
  background-color: #fee2e2;
  color: #b91c1c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
